  <div class="row margin-top-50">
    <div class="offset-sm-4 col-sm-4">
      <div id="clearance" class="sign-in">
        <h2><%= t(".title") %></h2>
        <%= render partial: '/sessions/form' %>
      </div>
    </div>
  </div>
